body {
  margin: auto;
  max-width: 900px;
  padding: 10px;
  line-height:1.6;
  background-color: #FBFBFB;
  font-size:1.4em;
  color: #202020;
  font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

.links {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

.sourceCode {
    overflow: visible;
    background: lightgrey;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

code {
    background: lightgrey;
    border-radius: 10px;
    padding: 2px 3px 2px 3px;
}

.date {
  margin-top: -15px;
  margin-bottom: 0;
  color: grey;
}

.author {
    font-size: 1.01em;
  margin-top: -15px;
}

.title {
  margin-bottom: 0px;
}

blockquote {
  border-left: 10px solid #ccc;
  background: #f9f9f9;
  padding-left: 0.5em;
}

img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.caption {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* copied over from celine's css by julius*/
.navContainer{
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: center;
  padding: 2px;
  border-style: solid;
  margin-bottom: 30px;
}
.navContainer a a:visited{
  color: black;
}

.navContainer a:hover {
  text-decoration: underline;
}

.title a {
  text-decoration: none;
  color: #3d3b41;
}

.title a:hover {
  text-decoration: underline;
}

.title a:visited {
  color: #3d3b41;
}


.tagline {
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Spectral', serif;
}

.abstract {
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

.abstract h3 {
    text-align: center;
}

.abstract

/* Dropdown Button */

/* .dropbtn { */
/*     background-color: #3d3b41; */
/*     color: white; */
/*     padding: 16px; */
/*     font-size: 16px; */
/*     border: none; */
/*     cursor: pointer; */
/* } */

.dropbtn a a:visited{
   padding: 16px;
   font-size: 1em;
}

.dropbtn a:hover{
   background-color: grey;
   color: white;
   text-decoration: underline;
   padding: 16px;
   font-size: 1em;
}

.dropbtn a:visited{
   color: white;
   padding: 16px;
   font-size: 1em;
}

.
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a a:hover{
    color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border: solid;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
